h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: Black;
    font-style: oblique;
  }
  img {
  
    display: block;
  }
  th, td{
    padding: 8px;
    border-bottom: 1px solid rgb(39, 28, 28);
    color:purple;
    background-color:grey;
  }
  table{
    text-align: center;
    width: 100%;
    margin-top: 5% ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  legend, input, label{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-align: center;
}
label, input{
    display: inline-block;
    width: 300px;
}
label{
    text-align: right;
    width: 300px;
}
legend{
    font-size: 20px;
}
input:valid {
    border: 1px solid black;
}
input:invalid {
    border: 1px solid red;
}